<a href="https://colab.research.google.com/github/umslengineering/EE1108/blob/main/EE1106_ex7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## String

In [3]:
my_string = "Python is my favorite programming language!"
my_string
type(my_string)
len(my_string)

43

In [4]:
long_story = (
    "Lorem ipsum dolor sit amet, consectetur adipiscing elit."
    "Pellentesque eget tincidunt felis. Ut ac vestibulum est."
    "In sed ipsum sit amet sapien scelerisque bibendum. Sed "
    "sagittis purus eu diam fermentum pellentesque."
)
long_story

'Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque eget tincidunt felis. Ut ac vestibulum est.In sed ipsum sit amet sapien scelerisque bibendum. Sed sagittis purus eu diam fermentum pellentesque.'

In [26]:
x = 'ITH-JFK-ITH'
y = 'ITH'
n=x.count(y)
n

2

In [27]:
# Count the number of vowels

A = 'auric goldfinger'

n = 0
n = n + A.count('a')
n = n + A.count('e')
n = n + A.count('i')
n = n + A.count('o')
n = n + A.count('u')

print(n)

6

In [29]:
s = 'nine one one'

n1 = s.find('one')
n2 = s.find('two')
n3 = s.find(' nine')
print(n1)
print(n2)
print(n3)

5
-1
-1

In [34]:
string1="ab#$%^&!"
print(string1.upper())
print(string1.lower())

AB#$%^&!
ab#$%^&!

## str.replace

In [5]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /) unbound builtins.str method
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

This will not modify my_string because replace is not done in-place.

In [7]:
print(my_string)
my_string.replace("a", "?")
print(my_string)

Python is my favorite programming language!
Python is my favorite programming language!

You have to store the return value of replace instead.

In [9]:
my_modified_string = my_string.replace("a", "?")
print(my_modified_string)

Python is my f?vorite progr?mming l?ngu?ge!

##f-strings

In [10]:
first_name = "John"
last_name = "Doe"
age = 88
print(f"My name is {first_name} {last_name}, you can call me {first_name}.")
print(f"I'm {age} years old.")

My name is John Doe, you can call me John.
I'm 88 years old.

In [11]:
print(f"Use '=' to also print the variable name like this: {age=}")

Use '=' to also print the variable name like this: age=88

##str.join()

In [13]:
pandas = "pandas"
numpy = "numpy"
requests = "requests"
cool_python_libs = ", ".join([pandas, numpy, requests])
print(f"Some cool python libraries: {cool_python_libs}")

Some cool python libraries: pandas, numpy, requests

Alternative (not as Pythonic and slower):

In [14]:
cool_python_libs = pandas + ", " + numpy + ", " + requests
print(f"Some cool python libraries: {cool_python_libs}")

cool_python_libs = pandas
cool_python_libs += ", " + numpy
cool_python_libs += ", " + requests
print(f"Some cool python libraries: {cool_python_libs}")

Some cool python libraries: pandas, numpy, requests
Some cool python libraries: pandas, numpy, requests

##str.upper(), str.lower(), str.title()

In [16]:
mixed_case = "PyTHoN hackER"
print(mixed_case.upper())
print(mixed_case.lower())
print(mixed_case.title())

PYTHON HACKER
python hacker
Python Hacker

##str.strip()

In [17]:
ugly_formatted = " \n \t Some story to tell "
stripped = ugly_formatted.strip()

print(f"ugly: {ugly_formatted}")
print(f"stripped: {stripped}")

ugly:
 	 Some story to tell
stripped: Some story to tell

##str.split

In [18]:
sentence = "three different words"
words = sentence.split()
print(words)

['three', 'different', 'words']

In [19]:
type(words)

list

In [21]:
secret_binary_data = "01001,101101,11100000"
binaries = secret_binary_data.split(",")
print(binaries)
print(type(binaries))

['01001', '101101', '11100000']
<class 'list'>

##Calling multiple methods in a row

In [22]:
ugly_mixed_case = "   ThIS LooKs BAd "
pretty = ugly_mixed_case.strip().lower().replace("bad", "good")
print(pretty)

this looks good

##Escape characters

In [24]:
two_lines = "First line\nSecond line"
print(two_lines)
indented = "\tThis will be indented"
print(indented)

First line
Second line
	This will be indented

## Date Format

In [38]:
s = '9/11/2031'
First = s.find('/')
Second = s.find('/', First + 1)

M = s[0:First]
D = s[First + 1:Second]
Y = s[Second + 1:]

print('\nTake apart %s :' % s)
print('   Month = %s, Day = %s , Year = %s' % (M, D, Y))


# Given a date string like '7-Jul-2024' we show how
# the string method replace and the built-in function
# len can be used to create the alternative format
# '7JUL24'

s = '20-Jan-2025'
print('\nWe can rewrite %s as' % s)

# Get rid of the hyphens.
s = s.replace('-', '')

# Get rid of the first two digits in the year.
m = len(s)
s = s[0:m-4] + s[m-2:]

# Convert the month acronym to upper case
s = s.upper()

print('   ', s)

Take apart 9/11/2031 :
   Month = 9, Day = 11 , Year = 2031

We can rewrite 20-Jan-2025 as
    20JAN25

In [44]:
s = '        Stand Still       '
print('\n', s)

# Remove the leading blanks and count how many there are.
s1 = s.lstrip()
nLeadingBlanks = len(s) - len(s1)
s = s.replace(' ', '>', nLeadingBlanks)

# Remove the trailing blanks and count how many there are.
s2 = s.rstrip()
nTrailingBlanks = len(s) - len(s2)
s = s[:-nTrailingBlanks] + s[-nTrailingBlanks:].replace(' ', '<')

print(s)

         Stand Still
>>>>>>>>Stand Still<<<<<<<

	*	s[:-nTrailingBlanks] → everything except the last n spaces
	*	s[-nTrailingBlanks:] → just the trailing spaces
	*	.replace(' ', '<') → replace spaces in that slice only

In [46]:
s = 'The Quick Brown Fox Jumped Over The Lazy Dog'
print('\nInput string   =', s)

# Convert everything to lower case and remove the blanks.
s = s.lower()
s = s.replace(' ', '')

# Compute the total number of letters and the total number of vowels
numLetters = len(s)
numVowels = s.count('a') + s.count('e') + s.count('i') + s.count('o') + s.count('u')

fraction = float(numVowels) / float(numLetters)

# print('Vowel fraction = %5.2f' % fraction)
print(f'Vowel fraction = {fraction:5.2f}')

Input string   = The Quick Brown Fox Jumped Over The Lazy Dog
Vowel fraction =  0.33